.app-container {
  background-color: #ececec;
  margin: 0;
  padding-bottom: 12px;
  min-height: 100vh;
}
.browser-history-container {
  background-color: #3367d6;
  height: 10vh;
  display: flex;
  align-items: center;
}

.history-img {
  margin-left: 24px;
  margin-right: 28px;
}
@media screen and (min-width: 768px) {
  .history-img {
    margin-left: 44px;
    margin-right: 104px;
  }
}
.search-history-container {
  background-color: #2850a7;
  border: solid 1px #6697ff;
  border-radius: 4px;
  padding-left: 16px;
  padding-right: 44px;
  padding-top: 12px;
  padding-bottom: 12px;
  display: flex;
  justify-content: flex-start;
  margin-right: 24px;
  width: 212px;
}
@media screen and (min-width: 768px) {
  .search-history-container {
    width: 420px;
  }
}
@media screen and (min-width: 1200px) {
  .search-history-container {
    margin-right: 100px;
    width: 600px;
  }
}
.search-img {
  padding-right: 16px;
}
.search-ele {
  background-color: transparent;
  border: 0;
  outline: none;
  font-size: 12px;
}
.browser-history-items-container {
  min-height: 90vh;
  margin-top: 32px;
  margin-left: 12px;
  margin-right: 12px;
  margin-bottom: 12px;
  background-color: #f8fafc;
  border-radius: 6px;
  box-shadow: 0px 6px 16px rgba(126, 133, 142, 0.16);
}

.no-history {
  font-family: 'Roboto';
  font-size: 24px;
  font-weight: 500;
  color: #475569;
  margin-top: 20%;
}
